@font-face {
  font-family: "GothamPro";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/gotham-pro-reg/GothamPro.woff") format("woff"),
    url("../fonts/gotham-pro-reg/GothamPro.woff2") format("woff2"),
    url("../fonts/gotham-pro-reg/GothamPro.ttf") format("truetype");
}
